<div class="container">
    <h3>Reset password</h3>
    <form>
        <div class="mb-3 col-md-4">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="email" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">An email will be sent to your address.</div>
        </div>
        <button (click)="requestResetId()" class="btn btn-primary">Submit</button>
      </form>
</div>
