<app-navbar></app-navbar>
<div class="container-fluid"><h4>Settings</h4></div>
<div class="container-fluid row">
    <div class="container col-lg-4">
        <form class="mt-3">
            <h5>Change password</h5>
            <div class="mb-3">
              <input [(ngModel)]="oldPassword" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="oldPassword" aria-describedby="oldpassword" placeholder="Old password">
              <div class="form-text">Your old password</div>
            </div>
            <div class="mb-3">
              <input [(ngModel)]="newPassword" (input)="passwordFieldChanged($event)" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="newPassword" placeholder="New password">
              <div class="form-text">Your new password</div>
            </div>
            <div class="mb-3">
                <input [(ngModel)]="newPasswordConfirm" (input)="passwordFieldChanged($event)" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="newPasswordConfirm" placeholder="Confirm new password">
                <div class="form-text">Passwords must match</div>
              </div>
            <button *ngIf="okToShowSubmitButton" type="submit" (click)="changePassword()" class="btn btn-primary">Change password</button>
            <h5 class="mt-3">Password requirements</h5>
            <p>
              Passwords must match 
              <i *ngIf="newPassword == newPasswordConfirm && (newPassword.length > 0 && newPasswordConfirm.length > 0)" class="bi text-success bi-check-circle-fill"></i>
              <i *ngIf="newPassword != newPasswordConfirm" class="bi text-danger bi-x-circle-fill"></i>
            </p>
            <p>
              Length must be greater than 7 
              <i *ngIf="passwordLengthOK" class="bi text-success bi-check-circle-fill"></i>
              <i *ngIf="!passwordLengthOK" class="bi text-danger bi-x-circle-fill"></i>
            </p>
            <p>
              Must contain a capital letter
              <i *ngIf="passwordHasCapitalChar" class="bi text-success bi-check-circle-fill"></i>
              <i *ngIf="!passwordHasCapitalChar" class="bi text-danger bi-x-circle-fill"></i>
            </p>
            <p>
              Must contain a special character
              <i *ngIf="passwordHasSpecialChar" class="bi text-success bi-check-circle-fill"></i>
              <i *ngIf="!passwordHasSpecialChar" class="bi text-danger bi-x-circle-fill"></i>
            </p>
          </form>
    </div>
</div>
<app-messages></app-messages>

