<app-navbar></app-navbar>
<div class="container-fluid"><h4>Settings</h4></div>
<div class="container-fluid row">
    <div class="container col-lg-4">
        <form class="mt-3">
            <h5>Change password</h5>
            <div class="mb-3">
              <input type="password" class="form-control" id="oldpassword" aria-describedby="oldpassword" placeholder="Old password">
              <div id="oldpassworddiv" class="form-text">Your old password</div>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New password">
              <div id="oldpassworddiv" class="form-text">Your new password</div>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm new password">
                <div id="oldpassworddiv" class="form-text">Passwords must match</div>
              </div>
            <button type="submit" on class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>

